.antlr/
.gradle/
.idea/
.kotlin/
.settings/
.vscode/
.vscode-test/
bin/
build/
node_modules/
out/
# I don't know where these files come from - IntelliJ ANTLR plugin?
compiler/parser/src/main/gen/
compiler/parser/src/main/antlr/org/mina_lang/parser/gen/
.DS_Store
.classpath
.factorypath
.jqwik-database
.project
*.class
*.tokens
*.tsbuildinfo
