<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Mina Compilation Report{{$title}}{{/title}}</title>
        <style>
            body {
                font-family: system-ui, sans-serif;
            }
            code {
                font-family: ui-monospace, monospace;
            }
            ol.namespace-list > li {
                list-style: none;
            }
        </style>
    </head>
    <body>
        <main>
            {{$content}}{{/content}}
        </main>
    </body>
</html>